@charset "UTF-8";

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    --card-gradient: #020617;

    --font-family: "Archivo", sans-serif;
    --text-h1: 800 24px/135% var(--font-family);
    --text-h2: 800 16px/140% var(--font-family);
    --text-h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/160% var(--font-family);
    --text-p: 400 14px/160% var(--font-family);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-secondary);
}

#page{
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-secondary);
    /* max-width: 1280px; */
    /* margin-inline: auto; */
}

a{
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    font: var(--text-span);
}

a:hover{
    text-decoration: underline;
    color: var(--brand-color-light);
}

h1, h2, h3{
    font: inherit;
}

img{
    max-width: 100%;
}

.container{
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

main{
    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;
    grid-template-columns: 2fr 1.4fr;

    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
}

.content-tag{
    display: inline-block;
    background-color: var(--brand-color-dark);
    padding: 4px 8px;
    border-radius: 4px;
    font: 500 10px/1.2 var(--font-family);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);
    box-shadow: 0px 4px 16px #02061740;
}