@charset "UTF-8";

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --heading1: bolder 24px/135% var(--font-family);
    --heading2: bolder 16px/140% var(--font-family);
    --heading3: bolder 14px/140% var(--font-family);
    --text-span: bold 14px/145% var(--font-family);
    --text: normal 16px/140% var(--font-family);
    --paragraph: normal 14px/160% var(--font-family);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-secondary);
}

#page{
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-secondary);
}

a{
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    font: var(--text-span);
}

a:hover{
    text-decoration: underline;
    color: var(--brand-color-light);
}

h1, h2, h3{
    font: inherit;
}
