@import url(global.css);

#featured{
    img{
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.card{
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before{
        content: "";
        position: absolute;
        inset: 0;
        background-color: white;
    }
}